
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">

    <ng-container matColumnDef="dt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date and time</th>
      <td mat-cell *matCellDef="let row" class="cell-left">{{row.dt * 1000 | date:'short' }}</td>
    </ng-container>

    <ng-container matColumnDef="temp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Temperature</th>
      <td mat-cell *matCellDef="let row">{{row.main.temp - 273.15 | number}}</td>
    </ng-container>


    <ng-container matColumnDef="pressure">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Presure</th>
      <td mat-cell *matCellDef="let row">{{row.main.pressure}}</td>
    </ng-container>


    <ng-container matColumnDef="humidity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Humidity</th>
      <td mat-cell *matCellDef="let row">{{row.main.humidity}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>

