<div class="page-container">
  <h1 class="mat-h1">Weather forecast for the next 5 days</h1>
  <mat-grid-list [cols]="(cardsize | async).doubleWidth" rowHeight="350px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Choose the city
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content spaced">
          <app-select-city [city]="city" [country]="country"></app-select-city>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Other information
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content spaced">
          <ul>
            <li>Mean pressure for the next 5 days: {{ meanPressure|number }}</li>
            <li>Mean humidity for the next 5 days: {{ meanHumidity|number }}</li>
            <li>Mean temperature for the next 5 days: {{ meanTemperature - 273.15|number }}</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="(cardsize | async).doubleWidth" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Raw data
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-forecast-table [data]="forecastData">Loading table...</app-forecast-table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>