<form class="example-form">
  <mat-form-field class="city-input">
    <input matInput placeholder="City name" [value]="city">
  </mat-form-field>
  <mat-form-field class="country-input">
    <input type="text" placeholder="Country" aria-label="Country" matInput [formControl]="myControl"
      [matAutocomplete]="auto" [value]="country">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-stroked-button>See the forecast</button>
</form>